::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $color-haas;
}

html,
body {
  font-family: $font-family;
  font-size: $font-14;

  overflow-x: hidden;
  background-color: $color-black;
 

  padding: $p-1;
  padding-left: $p-7;
  padding-right: $p-7;
}







