.header {
  @include flex();
  position: fixed;

  width: 100%;
  height: 8rem;
  padding: $p-1;
  padding-left: $p-7;
  padding-right: $p-7;
  
  backdrop-filter: blur(3px);
  z-index: 10;

  font-family: $font-family;
}

@media screen and (max-width: 980px)  {
  .header {
    padding-left: $p-1-5;
    padding-right: $p-1-5;
  }
}

@media screen and (max-width: 650px)  {
  .header {
    padding-left: $p-1-5;
    padding-right: $p-1-5;
  }
}