
.image_car{
  box-shadow: 7px 5px 5px $color-ferrari;
}

// !Спросить что картинка сьъезжает и не по центру
.image_team{
 margin-left: $m-9;
 padding: $p-2;
}   

.image_plan{
  padding-bottom: $p-1;
}