.navbar {
  &__lists {
    @include flex();
    width: 100%;

    &_numbers {
      @include flex();
      width: 100%;
    }

    &_footer{
    display: inline-flex; 
    justify-content: space-evenly;
    }
  }

  &__list {
    @include transition();
    @include flex();

    padding: $p-1;
  }
}

.media-header{
  display: none;
}

.menu-button-container {
  padding-right: 32px;
}

.menu {
  display:none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $color-white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 768px) {
  .navbar__lists {
    display: none;
  }

  .media-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }

  #menu-toggle {
      display: none;
  }

  .menu-button-container {
      display: flex;
  }

  .menu {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;

      position: absolute;
      top: 50px;
      margin-top: 50px;
      left: 0;

      width: 100%;
      height: 20%;

      padding-top: $p-2;
  }

  #menu-toggle:not(:checked) ~ .menu li {
      display: none;
  }

  #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
      border: none;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navbar__link_media {
    @include transition();

    position: relative;
    padding: $p-0-5;
  
    text-decoration: none;
    line-height: 30px;
    color: $color-white;
    font-size: $font-12;
    font-weight: $font-w-500;

    &:hover {
      text-decoration: none;
      color: $color-white;
      transform: translateY(-3px);
    }
  }

  .navbar__link_brd{
    font-size: $font-12;
  }

  .navbar__list_media {
    padding: $p-1;
    color: $color-black;
    align-items: center;
  }

  .navbar__lists_numbers{
    display: block;
  }

  .navbar__track {
      display: block;
  }
}