.section {
  padding-left: $p-6;
  padding-right: $p-6;
  padding-bottom:  $p-4;

  font-family: $font-family;
  color: $color-white;

 &__block{
  @include flex();

  &_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  &_left_description{
    font-family: $font-family;
    line-height: 13px;
    font-size: $font-26;
    color: $color-white;
    font-weight: $font-w-300;
    letter-spacing: 2px;

    padding-top: $p-1-5;
    padding-left: $p-0-5;
    padding-bottom: $p-0-5;

    &_exp{
      font-weight:$font-w-700;
    }
  }
}}

.section-1{
  padding-top: $p-6;
  background: linear-gradient(180deg,#EB0000 27.72%,rgba(235,0,0,0) 97.5%);

  &_alpha{
    background: linear-gradient(180deg,#87CEFA 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_aston {
    background: linear-gradient(180deg,#3CB371 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_haas {
    background: linear-gradient(180deg,#B22222 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_ferrari {
    background: linear-gradient(180deg,#eb0000 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_alpine {
    background: linear-gradient(180deg,#1E90FF 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_mc {
    background: linear-gradient(180deg,#FFD700 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_mer {
    background: linear-gradient(180deg,#00CED1 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_red {
    background: linear-gradient(180deg,#0000CD 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }

  &_williams {
    background: linear-gradient(180deg,#00BFFF 27.72%,rgba(235,0,0,0) 97.5%);
    padding-top: $p-6;
  }
}

.section-3 {
  font-size: $font-60;
  font-weight: $font-w-900;

  &_numbers{
    color: $color-alpharomeo;

    &_1 {
      color: $color-white;
    }

    &_alpha {
      color: $color-alphatauri;
    }
    
    &_alpine {
      color: $color-alpine;
    }

    &_aston {
      color: $color-astonmartin;
    }

    &_ferrari {
      color: $color-ferrari;
    }

    &_haas {
      color: $color-haas;
    }

    &_mc{
      color: $color-mclaren;
    }

    &_mer {
      color: $color-mersedes;
    }

    &_red {
      color: $color-redbull;
    }

    &_williams {
      color: $color-williams;
    }
  }

  &_description{
    font-size:$font-28;
    font-weight: $font-w-500;
  }
}

.section__features{
  background: $color-box;
  border-radius: 25px;

  padding: $p-1-5;
  
  @include flex();
  justify-content: space-around;
}

.section-5___left{
  width: 50%;
}

.section__form,
.section__plan,
.section__game,
.section__reviews{
  @include flex();

  align-items: flex-start;
}

.section-8__block,
.section-7__block,
.section-6__block {
  background: $color-box;
  border-radius: 25px;
  width: 70%;

  margin-right: $m-2;
  padding: $p-2;
}

.section-10__block_left{
  width: 100%;
}

.section__track {
  background: $color-box;
  border-radius: 25px;

  padding-left: $p-1-5;
  padding-right: $p-1-5;
  padding-bottom: $p-1-5;
  margin-bottom: $m-1;

  display: inline-flex;
  align-items: flex-end;

  &_left {
    width: 40%;
  }

  &_right {
    width: 60%;
  }
}

.block__track {
  &_title {
    font-size:$font-22;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 1px;

    padding-bottom: $p-1;
  }

  &_date {
    padding-top: $p-0-5;
    font-size:$font-22;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 1px;
  }
  
  &_title2{
    font-size:$font-20;
    font-weight: $font-w-400;
    line-height: 20px;
    letter-spacing: 1px;
  }

  &_description {
    font-size:$font-20;
    font-weight: $font-w-300;
    line-height: 20px;
    letter-spacing: 1px;

    text-align: center;
    padding-bottom: $p-1;
  }
}

.block__track{
  &_up {
    padding-bottom: $p-2;
  }

  &_down {
    padding-bottom: $p-2;
  }
}

.block__text {
  &_dhabi {
  color: $colot-limeGreen;
  font-size:$font-40;
  font-weight: $font-w-700;
  line-height: 20px;
  letter-spacing: 2px;

    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_bahrain {
    color: $color-ferrari;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
  
      &_diff {
        font-size:$font-24;
        font-weight: $font-w-400;
      }
    }
    
  &_arab {
    color: $colot-limeGreen;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
    
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_aus {
    color: $color-mclaren;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
      
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_azer {
    color: $color-astonmartin;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_mia {
    color: $color-DarkBlue;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_mon {
    color: $color-alpharomeo;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_span{
    color: $color-ferrari;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_can {
    color: $color-alpharomeo;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_aust {
    color: $color-ferrari;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_uk {
    color: $color-redbull;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_hun {
    color: $color-dark-green-2;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_bel {
    color: $color-yellow;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_neth{
    color: $color-dark-orange;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_it {
    color: $colot-limeGreen;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_ {
    color: $color-dark-green-2;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_sin {
    color: $color-ferrari;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_jap {
    color: $color-alpharomeo;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_qat {
    color: $color-Crimson;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_usa{
    color: $color-redbull;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }

  }&_mex{
    color: $color-astonmartin;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_sao{
    color: $colot-limeGreen;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }

  &_las{
    color: $color-alpine;
    font-size:$font-40;
    font-weight: $font-w-700;
    line-height: 20px;
    letter-spacing: 2px;
        
    &_diff {
      font-size:$font-24;
      font-weight: $font-w-400;
    }
  }


}








