.table {
	width: 100%;
	border: none;
  margin-bottom: $m-1-5;

  font-family: $font-family;
  font-size: $font-14;
  text-align: left;
}
.table thead th {
	font-weight: $font-w-600;

	border: none;
}

.table tbody td {
	text-align: left;
	
	vertical-align: top;
}

.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: $color-box-nav;
}

.table-container
{
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}


// @media screen and (max-width: 650px) {
// 	table {
// 		display: flex;
// 		width: 100%;
// 	}
// 	table thead {
// 		display: none;
// 	 }
	
// 	 table td:before {
// 		content: attr(data-label);
// 	 }
// }

