::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #B22222;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background-color: #0E0E0E;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.image_car {
  box-shadow: 7px 5px 5px #eb0000;
}

.image_team {
  margin-left: 9rem;
  padding: 2rem;
}

.image_plan {
  padding-bottom: 1rem;
}

.dropdown-item:hover {
  border-radius: 2px 11%;
  background: #B22222;
  padding: 0.5rem;
  color: #ffffff;
  text-align: center;
}

.navbar__link {
  transition: all 0.3s;
  position: relative;
  padding: 0.5rem;
  text-decoration: none;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.navbar__link_brd {
  border-radius: 8px;
  background: #ffffff;
  padding: 0.5rem;
  color: #0E0E0E;
  font-weight: 700;
}
.navbar__link_brd:hover {
  text-decoration: none;
  color: #0E0E0E;
  transform: translateY(-3px);
}
.navbar__link:hover {
  text-decoration: none;
  color: #ffffff;
  transform: translateY(-3px);
}

.navbar__link_footer {
  transition: all 0.3s;
  position: relative;
  padding: 0.5rem;
  text-decoration: none;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.navbar__link_footer:hover {
  color: #ffffff;
  text-decoration: none;
  transform: translateY(-3px);
}

.section__title {
  font-size: 38px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.section__description {
  font-size: 18px;
}

.section-5__title3,
.section-6__title3,
.section-7__title3,
.section-8__title3 {
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.section-5__title2,
.section-6__title2,
.section-7__title2,
.section-8__title2 {
  margin-top: 4rem;
  color: #FFFF00;
  font-weight: 700;
  font-size: 26px;
}
.section-5__description,
.section-6__description,
.section-7__description,
.section-8__description {
  font-size: 18px;
  letter-spacing: 2px;
}

.section-10__title,
.section-8__title,
.section-7__title,
.section-6__title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
}
.section-10__country,
.section-8__country,
.section-7__country,
.section-6__country {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}
.section-10__title3,
.section-8__title3,
.section-7__title3,
.section-6__title3 {
  font-size: 20px;
  font-weight: 700;
}

.section-7__description_1 {
  padding: 2rem;
}

.section-8__number {
  font-size: 38px;
  padding-top: 1rem;
}
.section-8__number_diff {
  font-size: 16px;
}

.section-10__title {
  text-align: left;
}

.navbar__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar__lists_footer {
  display: inline-flex;
  justify-content: space-evenly;
}
.navbar__list {
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.contact {
  margin: 0 auto;
  padding: 1rem;
  color: white;
  border-radius: 0.8rem;
}

.field {
  width: 30%;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  background-color: #1C1C1E;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 23px;
  font-size: 15px;
  transition: all 0.3s;
}

.field:hover {
  opacity: 0.8;
}

.btn {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn_add {
  background-color: darkgreen;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8rem;
  padding: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10;
  font-family: "Montserrat", sans-serif;
}

.section {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.section__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section__block_left_description {
  font-family: "Montserrat", sans-serif;
  line-height: 13px;
  font-size: 26px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 2px;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.section__block_left_description_exp {
  font-weight: 700;
}

.section-1 {
  padding-top: 6rem;
  background: linear-gradient(180deg, #EB0000 27.72%, rgba(235, 0, 0, 0) 97.5%);
}

.section-3 {
  font-size: 60px;
  font-weight: 900;
}
.section-3_numbers {
  color: #FF0000;
}
.section-3_numbers_1 {
  color: #ffffff;
}
.section-3_description {
  font-size: 28px;
  font-weight: 500;
}

.section__features {
  background: #1C1C1E;
  border-radius: 25px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}

.section-5___left {
  width: 50%;
}

.section__form,
.section__plan,
.section__game,
.section__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.section-8__block,
.section-7__block,
.section-6__block {
  background: #1C1C1E;
  border-radius: 25px;
  width: 70%;
  margin-right: 2rem;
  padding: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
  padding-left: 4rem;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid #ffffff;
}
.footer__text_description {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */